// 修改系统组件：antd的样式
.leftTool {
  :global {
    .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-tab {
      margin-top: 22px;
      padding: 0 12.5px;
      justify-content: center;
    }

    .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-tab:not(:first-child) {
      margin-top: 25px;
      /* 其他元素的 margin-top 为 25px */
    }

    .ant-tabs-tab .anticon:not(:last-child) {
      margin-right: 0;
    }
  }
}

.menuContent {
  margin-left: -14px;

  :global {
    .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-tab {
      margin-top: 6px;
      margin-bottom: 6px;
    }

    .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-tab:not(:first-child) {
      margin-top: 6px;
    }
  }
}

// 组件大纲
.outlinePanel {
  height: calc(100vh - 70px);
  overflow-y: auto;

  :global {
    .ant-tree-list-holder-inner .ant-tree-treenode {
      &:hover {
        background-color: #f6f6f6;
        border-radius: 4px
      }
    }

    .ant-tree .ant-tree-treenode-selected {
      background-color: #e8f0ff;
      border-radius: 4px
    }

    .ant-tree .ant-tree-node-content-wrapper:hover {
      background-color: unset;
    }

    .ant-tree .ant-tree-node-selected {
      // background-color: #9d5cff;
      // color: #fff;
    }

    // tree showline时隐藏连接线（因为想用他自带的图标）
    .ant-tree-show-line .ant-tree-indent-unit:before {
      border-inline-end: unset;
    }

    .ant-tree .ant-tree-node-content-wrapper {
      padding-inline: unset;
    }

    .ant-tree .ant-tree-switcher {
      margin-inline-end: unset;
    }

    // 目录图标对齐
    .ant-tree .ant-tree-switcher {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle {
      display: inline-flex;
      align-items: center;
    }

  }
}

.itemContainer {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 5px 8px;
  border: 1px solid #f0f0f1;
  transition: all 0.3s;
  min-width: 100px;
  padding-left: 15px;

  &:hover {
    background-color: #F4F4F4;
    // 取消hover放大效果
    // transform: scale(1.06);
  }

  .iconContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    transition: all 0.3s;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .itemName {
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    min-width: 55px;
  }
}

.menuContainer {
  position: relative;
  height: 100%;
  width: 100%;
  /* 确保容器占满Splitter.Panel的宽度 */
}

.collapseButtonContainer {
  position: absolute;
  top: 50%;
  z-index: 9999;
  transform: translateY(-50%);
}

.collapseButton {
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 21px;
  border-radius: 3px;
  transition: all 0.3s;
  color: transparent;
  /* 默认文字颜色 */

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #1677ff;
    color: #fff;
  }
}

.tabsContainer {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid #f0f0f0;
}

.tabs {
  display: flex;
  flex: 1;
}

.tabContent {
  flex: 1;
  overflow: auto;
}

/* 可以添加一个样式类用于折叠状态 */
.collapsedMenu {
  .leftTool {
    :global {
      .ant-tabs-nav {
        width: 50px !important;
        /* 强制覆盖宽度 */
        min-width: 50px !important;
      }

      .ant-tabs-content-holder {
        display: none !important;
        /* 完全隐藏内容区域 */
      }
    }
  }
}