.header,
.layoutHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: var(--mars-theme-color);
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    font-size: 14px;
    color: var(--mars-theme-text-color);
}

.pageName {
    font-size: 14px;
    color: #9b9b9b;
    font-weight: 500;
}

.componentBtns {
    :global {
        .ant-select-selection-item {
            font-size: 13px;
            font-weight: 500;
            text-align: right;
        }

        .ant-select .ant-select-selection-wrap:after {
            width: 4px;
        }

        .ant-btn-sm {
            font-size: 12px;
            font-weight: 500;
            color: #000000;
        }

        .ant-btn-icon {
            font-size: 15px;
        }
    }


}

.layoutHeader {
    border-bottom: 1px solid var(--mars-theme-border-color);
}

.logo {
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.4px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;

    :global {
        .ant-menu-horizontal {
            border-bottom: none;
        }
    }
}

.iconAction {
    display: flex;
    align-items: center;

    a {
        height: 63px;
        padding: 0 20px;
        width: 80px;
        display: flex;
        align-items: center;

        .iconBlock {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            align-items: center;
            height: 30px;

            span {
                display: inline-block;
                height: 30px;
                line-height: 30px;
                font-size: 16px;
                // color: #7d33ff;
                font-weight: 500;
            }

            img,
            svg {
                transition: all 0.2s linear;
            }

            &:hover {

                img,
                svg {
                    margin-top: -30px;
                }
            }
        }
    }

    img,
    svg {
        width: 30px;
        vertical-align: middle;
    }
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.divider {
    height: 14px;
    border-left: 1px solid #ccc;
}

.dslBtns {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: -8px;

    :global {
        .ant-btn-sm {
            font-size: 12px;
            color: #000000;
            font-weight: 500;
            .ant-btn-icon {
                font-size: 14px;
            }
        }
    }
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0);
    }

    20%,
    60% {
        transform: rotate(-25deg);
    }

    40%,
    80% {
        transform: rotate(10deg);
    }
}