.rulerItemWrap {
  position: relative;
  border-top: 1px dashed var(--ant-color-border);
  padding-top: 8px;

  &:hover .deleteRulerBtn {
    display: block;
  }

  .deleteRulerBtn {
    display: none;
    position: absolute;
    top: 2px;
    right: 0px;
    color: red;
  }
}

.addRulerBtn {
  color: var(--ant-color-primary);
}
