/* -----------------------------------------页面卡片样式----------------------------------------- */
.card {
  :global {
    .ant-card-body {
      padding-inline: 15px;
      padding-top: 13px;
      padding-bottom: 10px;
    }

    .ant-card-actions li {
      margin: 8px 0;

      >span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.cardBody {
  cursor: pointer;
}

.itemTitle {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pageIcon {
  margin-right: 7px;
}

.updateUser {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #9c9a9a;
}

.actionIcon {
  font-size: 16px;
  color: var(--mars-theme-card-text-color);
}

.timeIcon {
  font-size: 14px;
  margin-right: 8px;
}