/* 全局样式 */

/* --- monaco-editor 样式 --- */
.monaco-editor {
    // 隐藏原有的查找控件
    // .find-widget {
    //     display: none !important;
    // }

    .decorationsOverviewRuler {
        width: 10px !important;
    }

    .monaco-scrollable-element>.scrollbar {
        width: 10px !important;
    }

    .monaco-scrollable-element>.scrollbar>.slider {
        width: 10px !important;
        border-radius: 5px !important;
    }
}

/* --- form 标签tooltip 鼠标样式 --- */
.ant-form-item .ant-form-item-label >label .ant-form-item-tooltip {
    cursor: pointer;
}
