// 修改Allotment插件的默认样式
:root {
  --focus-border: var(--mars-primary-color);
  --separator-border: var(--mars-border-color);
}

.editor {
  :global {
    .ant-splitter >.ant-splitter-bar .ant-splitter-bar-dragger::after {
      background-color: #d8d8d8;
    }
    .ant-splitter >.ant-splitter-bar .ant-splitter-bar-collapse-bar {
      color: #fff;
    }
    .ant-splitter-horizontal >.ant-splitter-bar .ant-splitter-bar-collapse-bar-end {
      left: auto;
      right: calc(var(--ant-splitter-split-trigger-size) / 2);
    }
    .ant-splitter-horizontal >.ant-splitter-bar .ant-splitter-bar-collapse-bar-start {
      display: flex !important;
      opacity: 1 !important;
      visibility: visible !important;
      background-color: #1677ff;
      color: #fff;
    }
    .ant-splitter .ant-splitter-panel {
      padding: 0;
    }
  }
}

