.attrBox {
  // height: 100vh;
  overflow: hidden;

  :global {
    .ant-tabs-nav::before {
      border-bottom: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border);
    }
  }

  .attrsForm {
    padding: 0 10px 10px;
    :global {
      .ant-form-item-horizontal {
        .ant-form-item-control-input-content {
          display: flex;
          justify-content: end;
        }
      }
    }
    
  }
}
.widget {
  position: relative;
  top: -5px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: #333333;
  font-size: 12px;
  font-weight: 500;
  gap: 5px;
  margin-bottom: 3px;
}
.text {
  white-space: nowrap; /* 防止文本换行 */
  overflow: hidden; /* 隐藏超出容器的内容 */
  text-overflow: ellipsis; /* 用省略号表示被裁剪的文本 */
}
.ml5 {
  margin-left: 5px;
}
